<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>二维可视化展现</title>
		<script src="/webvis/resources/common/Common.Config.js"></script>
		<script>
			
			pageResponse("css","accordionMenu");
			pageResponse("css","fontAwesome");
			pageResponse("css","layui");
            pageResponse("css","common");
            pageResponse("css","bootstrap335");
			pageResponse("css","xydStyle");
			pageResponse("css","xSkin");
			pageResponse("css","jqueryCustomScrollbar");
			pageResponse("css","ol4");
			pageResponse("css","ol4ext");
			pageResponse("css","bootstrapzTreeStyle");
		</script>
	
		<!--[if lt IE 9]>
			<script>pageResponseie8service();</script>
		<![endif]-->
		<script>
			pageResponse("javascript","jquery1124");
			pageResponse("javascript","xydPlus");
			pageResponse("javascript","artTemplate");
			pageResponse("javascript","accordionMenu");
			pageResponse("javascript","jqueryCustomScrollbar");
			pageResponse("javascript","webAnimations");
			pageResponse("javascript","animatelo");
			pageResponse("javascript","ol4");
            pageResponse("javascript","ol4ext");
            pageResponse("javascript","bootstrap335");
            pageResponse("javascript","layer311");
            pageResponse("javascript","layui243");
            pageResponse("javascript","ztree");
            pageResponse("javascript","ztreeExcheck");
		</script>
	</head>
	<!--<body class="model-transparent model-simple">-->
	<body class="model-transparent model-simple">
		<div id="x-console"></div>
		<!-- <div id="body-background-image" style="">
			<img src="../resources/common/images/timg1.jpg" />
		</div> -->

		<div class="model-windows">
		
			<!--顶部导航-->
			<div class="model-header" id="model-header">
				<div class="page-back">
					<div class="p-button">
						<i class="iconfont fa fa-map-o"></i>
					</div>
					<div class="p-font">
						<font>二维可视化展现</font>
					</div>
				</div>
				<center>
					<div class="page-title x-inlineblock">
						<div class="t-logo">
							<i class="iconfont fa fa-windows"></i>
						</div>
						<div class="t-box">
							<div class="t-text">
								<font>WEB二三维可视化系统</font>
							</div>
							<div class="t-info">
								2D & 3D Visualization System
							</div>
						</div>
						<div class="t-datetime" id="times-box"></div>
					</div>
				</center>
				<div class="page-config">
					<ul class="botton-group" style="float: right;">
						<li class="one-line x-inlineblock">
							<div class="title set-skin">
								<i class="iconfont fa fa-dashboard"></i>
							</div>
							<div class="menu-xiala position-bottom" style="width:102px;position: absolute;right: -24px;top: 50px;">
								<div class="xiala-box">
									<ul style="padding: 0;">
										<li x_bind_button_name="SetSkin" skin="skin-default"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>默认</font></li>
									</ul>
									<ul style="padding: 0;">
										<li x_bind_button_name="SetSkin" skin="skin-yellow"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>黄色</font>
											
										</li>
										<li x_bind_button_name="SetSkin" skin="skin-blue"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>蓝色</font></li>
										<li x_bind_button_name="SetSkin" skin="skin-green"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>绿色</font></li>
										<li x_bind_button_name="SetSkin" skin="skin-red"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>红色</font></li>
									</ul>
								</div>
							</div>
						</li><li class="one-line x-inlineblock">
							<div class="title set-sys">
								<i class="iconfont fa fa-cog"></i>
							</div>
							<div class="menu-xiala position-bottom" style="width:102px;position: absolute;right: -24px;top: 45px;">
								<div class="xiala-box">
									<ul style="padding: 0;">
										<li x_bind_button_name="SetBackgroundSkin" skin="0"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>水面</font></li>
										<li x_bind_button_name="SetBackgroundSkin" skin="1"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>海洋</font></li>
										<li x_bind_button_name="SetBackgroundSkin" skin="2"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>天空</font></li>
										<li x_bind_button_name="SetBackgroundSkin" skin="3"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>云层</font></li>
										<li x_bind_button_name="SetBackgroundSkin" skin="4"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>纯色</font></li>
										<li x_bind_button_name="SetBackgroundSkin" skin="5"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>背景图</font></li>
									</ul>
								</div>
							</div>
						</li><li class="one-line x-inlineblock">
							<div class="title sys-out" x_bind_button_name="background-setting">
                                <i class="iconfont fa fa-power-off"></i>
                                <b class="ink animate-ink" style="height: 35px; width: 35px; top: -10.5px; left: 8.5px;"></b>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--用于三维展示局部，作为保留节点-->
            <div id="map"></div>	
            
            
            <!--工具框部分-->
            <div id="flightbody" class="panel-body" hidden>
                <!--树形部分-->
                <div align="right">
                    <button id="moreModelBtu" data-method="offset" data-type="auto" class="layui-btn layui-btn-xs">添加更多机型</button>
                </div>
                <div style=" overflow-y:auto; overflow-x:auto; width:290px; height:250px;">
                    <ul id="flight-treeDemo" class="ztree"></ul>
                </div>
               	<!--热力图设置部分-->
                <div style="text-align: -webkit-right;">
                    <lengend>模糊距离</lengend>
                    <div id="f-blurdiv" class="demo-slider"></div>
                </div>
                <div style="margin-top: 10px;text-align: -webkit-right;">
                    <lengend>渲染半径</lengend>
                    <div id="f-radiusdiv" class="demo-slider"></div>
                </div>
                <div style="margin-top: 10px;text-align: -webkit-right;">
                    <lengend>不透明度</lengend>
                    <div id="f-opacitydiv" class="demo-slider"></div>
                </div>
                <!-- 抽稀率 -->
                <div style="margin-top: 10px;">
                    <label class="layui-form-label">抽稀率</label>
                    <div class="layui-input-block">
                      <input type="text" name="rate" required lay-verify="required" placeholder="建议数值介于0.5-0.001之间" class="layui-input" value = '0.1'  size="17">
                    </div>
                </div>
                 <!--时间选择框部分-->
                <div style="display: inline-flex;margin-top: 10px;">
                	<label class="layui-form-label">某天</label>
                    <div class="input-group" data-link-field="flight-beginTime">
                        <input type="text" size="20" class="layui-input" id="flight-beginInpt" placeholder="某天" value='2018-10-01'>
                    </div>
                </div>
                <!-- 时间间隔 -->
                <div style="margin-top: 10px;">
	                <label class="layui-form-label">间隔</label>
	                <div class="layui-input-block">
	                	<input type="text" name="timestep" required lay-verify="required" placeholder="单位：分钟，建议介于60-120之间" class="layui-input" value = '0.1'  size="17">
	                </div>
                </div>
                <!--按钮部分-->
                <div style="margin-top: 10px;">
                    <button type="button" id="flight-startBtn" class="btn btn-primary btn-lg btn-block">开始演变</button>
                    <button type="button" id="flight-stopBtn" class="btn btn-danger btn-lg btn-block" disabled>停止演变</button>
                </div>
                <h4 style="margin-bottom: 0;"></h4>
            </div>
            
            <!--加载层-->
            <div style="display: none;z-index: 99;bottom: 0;right: 0;" id="loadingDiv" class="loadingDiv">
                <img src="../view/private/images/loading04.gif" width="32" height="32" border="0">
            </div>

            <!--flight功能按钮部分-->
            <div id="flightbtn" style="position: absolute;z-index: 99;top: 270px;left: 7px;border: 1px solid transparent;background-color: #4497a2;width: 40px;height: 40px;font-size: 30px;border-radius: 4px;box-shadow: 0 1px 1px rgba(0,0,0,.05);cursor: pointer;">
              <li>
                <i class="fa fa-plane" aria-hidden="true" style="position: absolute;left: 7px;top: 5px;" title="flight热力数据"></i>
                <b class="ink animate-ink" style="height: 35px; width: 35px;"></b>
              </li>
            </div>
            

		</div>

		<link href="../resources/private/css/layout2d.css" rel="stylesheet">
		<script src="../resources/private/js/config.js"></script>
		<script src="../resources/private/js/2d/2d.js"></script>
		<script src="../resources/private/js/2d/map.js"></script>
        <script src="../resources/private/js/2d/flight.js"></script>
	</body>
</html>
<script id="TemplateTopTimes" type="text/html">
	<font class="time-bean time x-inlineblock">{{time}}</font>
	<div class="time-bean date-week x-inlineblock">
		<div class="date">{{date}}</div>
		<div class="week" style="">{{week}}</div>
	</div>
</script>