<!DOCTYPE html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<script src="/web3d/three/3dview/main-page/include/systemHeaderResponseJS.js"></script>
		<script>
			pageResponse("css","bootstrap335");
			pageResponse("css","fontAwesome");
			pageResponse("css","layui");
			pageResponse("css","accordionMenu");
			pageResponse("css","common");
			pageResponse("css","xydStyle");
			pageResponse("css","xSkin");
			pageResponse("css","jqueryCustomScrollbar");
			pageResponse("javascript","jquery183");
		</script>
		<!--[if lt IE 9]>
			<script>pageResponseie8service();</script>
		<![endif]-->
		<script>
			pageResponse("javascript","layui");
			pageResponse("javascript","xydPlus");
			pageResponse("javascript","artTemplate");
			pageResponse("javascript","xydWebFunction");
			pageResponse("javascript","xAttributeMenuTemplate");
			pageResponse("javascript","xModelSearchWindowTemplate");
			pageResponse("javascript","WdatePicker");
			pageResponse("javascript","accordionMenu");
			pageResponse("javascript","jqueryCustomScrollbar");
			pageResponse("javascript","webAnimations");
			pageResponse("javascript","animatelo");
		</script>
		
		<!--  -->
		<script type="text/javascript" src="/web3d/three/three.js"></script>
		<!-- <script type="text/javascript" src="/web3d/js/jquery-2.1.4.min.js"></script> -->
		<script type="text/javascript" src="/web3d/js/utls.js"></script>

		<script type="text/javascript" src="/web3d/three/js/shaders/OceanShaders.js"></script>
		<script type="text/javascript" src="/web3d/three/js/Ocean.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/background.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/drawHitArea.js"></script>
		<script type="text/javascript" src="/web3d/three/js/shaders/CopyShader.js"></script>
		<script type="text/javascript" src="/web3d/three/js/shaders/FXAAShader.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/dat-gui/dat.gui.js"></script>
		<!-- 补间动画 -->
		<script type="text/javascript" src="/web3d/three/js/libs/tween.min.js"></script>

		<script type="text/javascript" src="/web3d/three/js/postprocessing/EffectComposer.js"></script>
		<script type="text/javascript" src="/web3d/three/js/postprocessing/RenderPass.js"></script>
		<script type="text/javascript" src="/web3d/three/js/postprocessing/ShaderPass.js"></script>
		<script type="text/javascript" src="/web3d/three/js/postprocessing/OutlinePass.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/base_scene.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/renderer_manager.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/enum.js"></script>
		<!-- 控制器 -->
		<script type="text/javascript" src="/web3d/three/js/controls/TrackballControls.js"></script>
		<script type="text/javascript" src="/web3d/three/js/controls/FlyControls.js"></script>
		<script type="text/javascript" src="/web3d/three/js/controls/OrbitControls.js"></script>

		<script type="text/javascript" src="/web3d/three/js/objects/Water.js"></script>
		<script type="text/javascript" src="/web3d/three/js/objects/Sky.js"></script>
		
		<script type="text/javascript" src="/web3d/three/js/loaders/DRACOLoader.js"></script>
		<script type="text/javascript" src="/web3d/three/js/loaders/GLTFLoader.js"></script>
		<script type="text/javascript" src="/web3d/three/js/renderers/CSS2DRenderer.js"></script>
		<!-- 时间轴 -->
		<script src="/web3d/three/js/controls/TransformControls.js"></script>
		<script src="/web3d/three/js/libs/timeliner_gui.min.js"></script>
		<script src="/web3d/three/js/TimelinerController.js"></script>

		<script type="text/javascript" src="/web3d/three/beyon/main.js"></script>
		<script type="text/javascript" src="/web3d/three/beyon/animation_control.js"></script>

		<link rel="stylesheet" href="css/htmleaf-demo.css" />
		<link rel="stylesheet" href="css/process.css" />
		<link rel="stylesheet" href="/web3d/three/beyon/dat-gui/dat.gui.css" />
		<style>

		</style>
	</head>
	<!--<body class="model-transparent model-simple">-->
	<body class="model-transparent model-simple">
		<div id="x-console"></div>
		<div id="body-background-image">
		<!--	<img src="images/body-background.jpg" />-->
		</div>
		<div class="model-windows">
			<div class="model-header" id="model-header">
				<div class="page-back">
					<div class="p-button">
						<i class="iconfont fa fa-cubes"></i>
					</div>
					<div class="p-font">
						<font>三维模型展示</font>
					</div>
					<div class="p-b" id="x-btn-compare">
						<font>三维模型对比</font>
						<i class="iconfont fa fa-chevron-circle-right"></i>
					</div>
				</div>
				<center>
					<div class="page-title x-inlineblock">
						<div class="t-logo">
							<i class="iconfont fa fa-windows"></i>
						</div>
						<div class="t-box">
							<div class="t-text">
								<font>WEB 三 维 可 视 化 系 统</font>
							</div>
							<div class="t-info">
								3D Visualization System
							</div>
						</div>
						<div class="t-datetime" id="times-box"></div>
					</div>
				</center>
				<div class="page-config">
					<span style="position: relative;">
						<div id="x-btn-config" class="x-inlineblock c-button">
							<i class="iconfont fa fa-cog"></i>
						</div>
						<!--
						<div class="menu-xiala" style="width:350px;top:40px;">
							<div class="xiala-box">
								<ul>
									<li x_bind_button_name="SetSkin" skin="skin-default"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>默认</font></li>
								</ul>
								<ul>
									<li x_bind_button_name="SetSkin" skin="skin-yellow"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>黄色</font>
										
									</li>
									<li x_bind_button_name="SetSkin" skin="skin-blue"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>蓝色</font></li>
									<li x_bind_button_name="SetSkin" skin="skin-green"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>绿色</font></li>
									<li x_bind_button_name="SetSkin" skin="skin-red"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>红色</font></li>
								</ul>
							</div>
						</div>
						-->
					</span>
					
					<div class="x-inlineblock c-button">
						<i class="iconfont fa fa-power-off"></i>
					</div>
				</div>
			</div>
			<div class="model-content">
				<div id="model-main"></div>
				<div class="view-position-left-box">
					<div id="model-search-box" class="model-search-box">
						<div class="search-bean search-button-box">
							<i class="iconfont fa fa-search x-inlineblock" id="button-search"></i>
							<div id="search-input-box" class="search-input-box panel-hide">
								<div class="title">
									<i class="iconfont fa fa-search"></i>
									<font>数据搜索</font>
								</div>
								<div id="search-tree" class="search-tree">
									<div class="jq-ac-dom">
										<center>
											<div class="jquery-accordion-menu-header" id="form"></div>
										</center>
									</div>
									
									<div id="jquery-accordion-menu" class="jquery-accordion-menu"></div>
								</div>
							</div>
						</div>
						<div class="search-bean model-name">
							<font data-input-name="name">-</font>
						</div>
					</div>
					<div class="diy-scrollbar" id="diy-scrollbar-model-attribute-box">
						<div id="model-attribute-box" class="model-attribute-box"></div>
					</div>
				</div>
				
				<div id="content-right-box" class="content-right-box">
					<!--<div id="count-menu-box" class="count-menu-box">
						这里是保留菜单
					</div>-->
					<div id="count-data-box" class="count-data-box">
						<div class="title">
							<i class="iconfont fa fa-list-ul"></i>
							<font>综合数据</font>
							<i class="iconfont x-iconfont-down fa fa-minus-circle"></i>
						</div>
						<div class="diy-scrollbar" id="diy-scrollbar-count-data-ul-box">
							<ul id="count-data-ul-box"></ul>
						</div>
					</div>
					<div id="model-tabs" class="model-tabs"></div>
				</div>
			</div>
			<div class="foot-button-group" id="foot-button-group">
				<div class="btn-screen">
					<ul class="group-table  x-inlineblock">
						<li class="one-line x-inlineblock">
							<div class="title" x_bind_button_name="SetScreen" title="全屏">
								<i class="iconfont fa fa-arrows-alt"></i>
								<font></font>
							</div>
						</li>
					</ul>
				</div>
				<center>
				<ul class="group-table  x-inlineblock">
					<li class="one-line x-inlineblock">
						<div class="title">
							<i class="iconfont fa fa-dashboard"></i>
							<font>界面皮肤</font>
						</div>
						<div class="menu-xiala position-top" style="width:102px;position: absolute;left: 0px;bottom: 49px;">
							<div class="xiala-box">
								<ul style="padding: 0;">
									<li x_bind_button_name="SetSkin" skin="skin-default"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>默认</font></li>
								</ul>
								<ul style="padding: 0;">
									<li x_bind_button_name="SetSkin" skin="skin-yellow"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>黄色</font>
										
									</li>
									<li x_bind_button_name="SetSkin" skin="skin-blue"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>蓝色</font></li>
									<li x_bind_button_name="SetSkin" skin="skin-green"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>绿色</font></li>
									<li x_bind_button_name="SetSkin" skin="skin-red"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>红色</font></li>
								</ul>
							</div>
						</div>
					</li><li class="one-line x-inlineblock">
						<div class="title">
							<i class="iconfont fa fa-random"></i>
							<font>背景切换</font>
						</div>
						<div class="menu-xiala position-top" style="width:102px;position: absolute;left: 0px;bottom: 49px;">
							<div class="xiala-box">
								<ul style="padding: 0;">
									<li x_bind_button_name="SetBackgroundSkin" skin="0"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>水面</font></li>
									<li x_bind_button_name="SetBackgroundSkin" skin="1"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>海洋</font></li>
									<li x_bind_button_name="SetBackgroundSkin" skin="2"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>天空</font></li>
									<li x_bind_button_name="SetBackgroundSkin" skin="3"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>云层</font></li>
									<li x_bind_button_name="SetBackgroundSkin" skin="4"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>纯色</font></li>
									<li x_bind_button_name="SetBackgroundSkin" skin="5"><i class="iconfont xyd-zhuti"></i>&nbsp;&nbsp;<font>背景图</font></li>
								</ul>
							</div>
						</div>
					</li><li class="one-line x-inlineblock">
						<div class="title" x_bind_button_name="background-setting">
							<i class="iconfont fa fa-gears"></i>
							<font>场景参数</font>
						</div>
						
					</li><li class="one-line x-inlineblock">
						<div class="title" x_bind_button_name='showOperateCtrl'>
							<i class="iconfont fa fa-plane"></i>
							<font>模型控制</font>
						</div>
						
					</li><li class="one-line x-inlineblock">
						<div class="title" x_bind_button_name='playAction'>
							<i class="iconfont fa fa-play"></i>
							<font>动画控制</font>
						</div>
						
					</li>
				</ul>
				</center>
			</div>
		</div>
		<div style="display: none;">
			<select id="background-changed" style="color: black;position: absolute;bottom: 20px;left: 800px;z-index: 5;padding: 7px;border: white;">
				<option value="1">海洋</option>
				<option value="2">天空</option>
				<option value="0" selected="selected">水面</option>
				<option value="3">云层</option>
				<option value="4">纯色</option>
				<option value="5">背景图</option>
			</select>
	
			<div id ="background-setting-button" style="position: absolute;bottom: 20px;left: 900px;z-index: 5;color: black;background: #ffffffd6;padding: 7px;"> 背景参数</div>
		</div>
		<div id ="background-setting-panel" class="layui-tab bg-panel">
			<!-- <div class="c"><div><input type="text"></div><div class="slider"><div class="slider-fg" style="width: 55.5556%;"></div></div></div>
			<ul class="layui-tab-title" id = "setting-bg-tab-title"></ul>
			<div class="layui-tab-content" id = "setting-bg-tab-content"></div> -->
		</div>
		<div id ="control-panel"  class="layui-tab bg-panel" ></div>

		<script src="main.js"></script>
	</body>
</html>

<script id="TemplateModelSearchWindow" type="text/html">
{{if run===true}}
	<ul id="demo-list">
	   <li class="active"><a href="#">Home </a></li>
		<li>
			<a href="#">Events </a>
		</li>
		<li>
			<a href="#">Gallery </a>
		</li>
		<li><a href="#">Services </a>
			<ul class="submenu">
				<li><a href="#">Web Design </a></li>
				<li><a href="#">Hosting </a></li>
				<li><a href="#">Design </a>
					<ul class="submenu">
						<li><a href="#">Graphics </a></li>
						<li><a href="#">Vectors </a></li>
						<li><a href="#">Photoshop </a></li>
						<li><a href="#">Fonts </a></li>
					</ul>
				</li>
				<li><a href="#">Consulting </a></li>
			</ul>
		</li>
		<li><a href="#">System </a></li>
		<li><a href="#">Portfolio </a>
			<ul class="submenu">
				<li><a href="#">Web Design </a></li>
				<li><a href="#">Graphics </a><span class="jquery-accordion-menu-label">10 </span>
				</li>
				<li><a href="#">Photoshop </a></li>
				<li><a href="#">Programming </a></li>
			</ul>
		</li>
		<li><a href="#">About </a></li>
		<li><a href="#">Contact </a></li>
	   
	</ul>
{{/if}}
</script>
<script id="TemplateRigthRadiusMenu" type="text/html">
{{if run===true}}
	<div class="model-radius-menu">
		<div class="htmleaf-container">
			<div class="navbar">主菜单
				<ul class="menu">
					<li>
						<a href="#" class="fa fa-facebook"></a>
					</li>
					<li>
						<a href="#" class="fa fa-google-plus"></a>
					</li>
					<li>
						<a href="#" class="fa fa-twitter"></a>
					</li>
					<li>
						<a href="#" class="fa fa-linkedin"></a>
					</li>
					<li>
						<a href="#" class="fa fa-pinterest"></a>
					</li>
					<li>
						<a href="#" class="fa fa-rss"></a>
					</li>
					<li>
						<a href="#" class="fa fa-instagram"></a>
					</li>
					<li>
						<a href="#" class="fa fa-skype"></a>
					</li>
					<li>
						<a href="#" class="fa fa-github"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{{/if}}
</script>
<script id="TemplateRigthContent" type="text/html">
{{if run===true}}
	<div class="layui-tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this"><i class="iconfont fa fa-image"></i>&nbsp;多媒体</li>
	    <li><i class="iconfont fa fa-globe"></i>&nbsp;WQ范围</li>
	  </ul>
	  <div class="layui-tab-content">
	    <div class="layui-tab-item layui-show">
	    	<style>
	    	</style>
	    	<div id="media-img-box"></div>
	    </div>
	    <div class="layui-tab-item"></div>
	  </div>
	</div>
{{/if}}
</script>
<script id="TemplateTopTimes" type="text/html">
	<font class="time-bean time x-inlineblock">{{time}}</font>
	<div class="time-bean date-week x-inlineblock">
		<div class="date">{{date}}</div>
		<div class="week" style="">{{week}}</div>
	</div>
</script>
<script id="TemplateCountDataPanel" type="text/html">
{{if run===true}}
	{{each data.arrXNCS_B as value i}}
	<li class="one-line">
		<div class="key-name">{{value.jgmc}}:</div>
		<div class="value">{{value.sjzforOrg}}{{value.jldw}}</div>
	</li>
	{{/each}}
{{/if}}
</script>
<script id="TemplateBackgroundSelect" type="text/html">
{{if run===true}}
	<select>
		<option value="">无背景</option>
	</select>
{{/if}}
</script>


