#round-picture{ 
	text-align: center;
    vertical-align: middle;

    width: 125px;
    height: 125px;
    border-radius: 100%;
    /* background: url(../images/bg06rightarea.png) right bottom no-repeat; */
     background: url(/web3d/three/textures/sprite1.png) center no-repeat; 
    box-shadow: 0 0 12px #fff;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: forotate;
    -webkit-animation-duration: 4000ms;
}

@-webkit-keyframes forotate{
from{
    -webkit-transform:rotate(-360deg);
    opacity: .8;
   }
to{
    -webkit-transform:rotate(0);
    opacity: 1;
    }
}

#process-window{
	position: absolute;
    /*background: rgba(183, 236, 205, 0.98);*/
    height: 180px;
    width: 300px;
   	/*border: #7c77ce 2px solid;*/
    text-align: center;
    top: 400px;
    left: 800px;
    z-index: 5;
    /*color: #3a443d;*/
    color: white;
}
#percent{
    position: absolute;
    top: 66px;
    left: 127px;
    z-index: 2;
}
#animition{
	padding-left: 80px;
	padding-top: 15px;
}

#background-setting-panel{
	position: absolute;
    right: 400px;
    top: 72px;
    z-index: 5;
}

#background-setting-button{
	position: absolute;
	bottom: 20px;
	left: 900px;
	z-index: 5;
	color: black;
	background: #ffffffd6;
	padding: 7px;
	cursor: pointer;
}

#control-panel{
    position: absolute;
    right: 400px;
    top: 72px;
    z-index: 8;
   
}
.c > select{
    color: black;
}