/**
 * 颜色值
 * yellow 
 * 		文字：#FFFFFF
 * 		背景颜色：#EE8416，238,132,22
 * blue
 * 		文字：#FFFFFF
 * 		背景颜色：#2377E3，35,119,227
 * green
 * 		文字：#FFFFFF
 * 		背景颜色：#19AA8D，25,170,141
 * red
 * 		文字：#FFFFFF
 * 		背景颜色：#E53935，229,57,53
 */

input:-moz-placeholder,
input::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder {
	color: #FFF;
}

.skin-default,
.skin-default a {
	color: #FFFFFF;
}

.skin-default.no-transparent .model-windows .model-search-box .search-button-box .search-input-box {
	background: #eee;
}


.skin-yellow,
.skin-yellow a {
	color: #FFF;
}

.skin-yellow.no-transparent {
	background: #FFFFFF;
	color: #333;
}

.skin-yellow.no-transparent a {
	color: #333;
}

.model-transparent .layui-layer {
	background-color: #FFFFFF;
	color: #666;
}

.skin-yellow.model-transparent .layui-layer-title {
	background-color: #EE8416;
	border-bottom: 0;
	color: #FFFFFF;
}

.skin-yellow.model-transparent .layui-layer-btn a {
	background-color: #FFFFFF;
	border: 1px solid #EE8416;
	color: #EE8416;
	padding: 0rem 2rem 0rem 2rem;
}

.skin-yellow.model-transparent .layui-layer-btn .layui-layer-btn0 {
	background-color: #EE8416;
	border-color: #EE8416;
	color: #FFF;
}

.skin-yellow .model-windows .model-header .page-back>.p-font {
	color: #FFFFFF;
}

.skin-yellow .model-windows .model-header .page-back>.p-button {
	background: #EE8416;
	color: #FFFFFF;
}

.skin-yellow .model-windows .model-header .page-back>.p-b {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #EE8416;
	color: #EE8416;
}

.skin-yellow .model-windows .model-header .page-title .t-logo .iconfont {
	color: #EE8416;
}

.skin-yellow .model-windows .model-header .page-title .t-box .t-info {
	background: #EE8416;
	color: #FFFFFF;
	line-height: 1.1;
}

.skin-yellow .model-windows .model-header .page-title .t-datetime {
	color: #FFFFFF;
}

.skin-yellow .model-windows .model-header .page-title .t-datetime .date {
	color: #EE8416;
}

.skin-yellow .model-windows .model-header .page-config .c-button {
	background: #EE8416;
	color: #FFFFFF;
}

.skin-yellow .model-windows .model-content .model-search-box .search-button-box {
	background: rgba(238, 132, 22, 0.8);
	color: #FFF;
}

.skin-yellow .model-windows .model-content .model-search-box .search-button-box:hover {
	background: rgba(238, 132, 22, 1);
}

.skin-yellow .model-windows .model-content .model-search-box .model-name font {
	color: #FFFFFF;
}

.skin-yellow.no-transparent .model-windows .model-content .model-search-box .model-name font {
	color: #333;
}

.skin-yellow .model-windows .model-content {
	border-top: 1px solid rgba(238, 132, 22, 0.5);
}

.skin-yellow .model-attribute-box .one-line>a {
	background: rgba(238, 132, 22, 0.5);
	color: #FFFFFF!important;
}

.skin-yellow .model-attribute-box .one-line>ul {
	border: 1px solid rgba(238, 132, 22, 0.5);
}

.skin-yellow .model-attribute-box .one-line .item a {
	color: #FFF;
}

.skin-yellow .model-attribute-box .one-line a.action {
	background: rgba(238, 132, 22, 0.4);
}

.skin-yellow .model-attribute-box .one-line a>.iconfont:first-child {
	color: #FFF;
}

.skin-yellow .model-attribute-box .one-line>a>.iconfont:first-child {
	color: #fff;
}

.skin-yellow .model-windows .model-content {
	border-top: 1px solid rgba(221, 221, 221, 0.5);
}

.skin-yellow .model-windows .model-content .model-search-box .search-button-box .search-input-box>.title {
	background: none repeat scroll 0 0 rgba(238, 132, 22, 0.5);
}

.skin-yellow .filterinput {
	background-color: rgba(238, 132, 22, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: #FFFFFF;
	font-weight: normal;
}

.skin-yellow .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jq-ac-dom {
	border: 1px solid rgba(238, 132, 22, 0.5);
	border-style: solid solid none solid;
}

.skin-yellow .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu {
	border: 1px solid rgba(238, 132, 22, 0.5);
}

.skin-yellow.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box {
	background: #eee;
}

.skin-yellow .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #FFF;
}

.skin-yellow.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #333;
}

.skin-yellow .model-windows .model-content .count-data-box>.title {
	background: rgba(238, 132, 22, 0.5);
}

.skin-yellow .model-windows .model-content .count-data-box>div {
	border: 1px solid rgba(238, 132, 22, 0.5);
}

.skin-yellow .model-windows .model-content .count-data-box>div .one-line>div.key-name {
	color: #EE8416;
}

.skin-yellow .model-windows .model-content .count-data-box>div>li>div.key-name {
	color: #EE8416;
}

.skin-yellow .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li {
	/*background: #543513;*/
	background: rgba(84, 53, 19, 0.5);
}

.skin-yellow .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li.layui-this {
	background: rgba(238, 132, 22, 0.5);
}

.skin-yellow .model-windows .model-content .model-tabs .layui-tab .layui-tab-content {
	border: 1px solid rgba(238, 132, 22, 0.5);
}

.skin-yellow .model-windows .model-compare .compare-li.red>.src-text,
.skin-yellow .model-windows .model-compare .compare-li.red>.new-text {
	color: #EE8416;
}

.skin-yellow .model-windows .foot-button-group .one-line>.title {
	background: rgba(238, 132, 22, 0.8);
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.skin-blue,
.skin-blue a {
	color: #FFF;
}

.skin-blue.no-transparent {
	background: #FFFFFF;
	color: #333;
}

.skin-blue.no-transparent a {
	color: #333;
}

.model-transparent .layui-layer {
	background-color: #FFFFFF;
	color: #666;
}

.skin-blue.model-transparent .layui-layer-title {
	background-color: #2377E3;
	border-bottom: 0;
	color: #FFFFFF;
}

.skin-blue.model-transparent .layui-layer-btn a {
	background-color: #FFFFFF;
	border: 1px solid #2377E3;
	color: #2377E3;
	padding: 0rem 2rem 0rem 2rem;
}

.skin-blue.model-transparent .layui-layer-btn .layui-layer-btn0 {
	background-color: #2377E3;
	border-color: #2377E3;
	color: #FFF;
}

.skin-blue .model-windows .model-header .page-back>.p-font {
	color: #FFFFFF;
}

.skin-blue .model-windows .model-header .page-back>.p-button {
	background: #2377E3;
	color: #FFFFFF;
}

.skin-blue .model-windows .model-header .page-back>.p-b {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #2377E3;
	color: #2377E3;
}

.skin-blue .model-windows .model-header .page-title .t-logo .iconfont {
	color: #2377E3;
}

.skin-blue .model-windows .model-header .page-title .t-box .t-info {
	background: #2377E3;
	color: #FFFFFF;
	line-height: 1.1;
}

.skin-blue .model-windows .model-header .page-title .t-datetime {
	color: #FFFFFF;
}

.skin-blue .model-windows .model-header .page-title .t-datetime .date {
	color: #2377E3;
}

.skin-blue .model-windows .model-header .page-config .c-button {
	background: #2377E3;
	color: #FFFFFF;
}

.skin-blue .model-windows .model-content .model-search-box .search-button-box {
	background: rgba(35, 119, 227, 0.8);
	color: #FFF;
}

.skin-blue .model-windows .model-content .model-search-box .search-button-box:hover {
	background: rgba(35, 119, 227, 1);
}

.skin-blue .model-windows .model-content .model-search-box .model-name font {
	color: #FFFFFF;
}

.skin-blue.no-transparent .model-windows .model-content .model-search-box .model-name font {
	color: #333;
}

.skin-blue .model-windows .model-content {
	border-top: 1px solid rgba(35, 119, 227, 0.5);
}

.skin-blue .model-attribute-box .one-line>a {
	background: rgba(35, 119, 227, 0.5);
	color: #FFFFFF!important;
}

.skin-blue .model-attribute-box .one-line>ul {
	border: 1px solid rgba(35, 119, 227, 0.5);
}

.skin-blue .model-attribute-box .one-line .item a {
	color: #FFF;
}

.skin-blue .model-attribute-box .one-line a.action {
	background: rgba(35, 119, 227, 0.4);
}

.skin-blue .model-attribute-box .one-line a>.iconfont:first-child {
	color: #FFF;
}

.skin-blue .model-attribute-box .one-line>a>.iconfont:first-child {
	color: #fff;
}

.skin-blue .model-windows .model-content {
	border-top: 1px solid rgba(221, 221, 221, 0.5);
}

.skin-blue .model-windows .model-content .model-search-box .search-button-box .search-input-box>.title {
	background: none repeat scroll 0 0 rgba(35, 119, 227, 0.5);
}

.skin-blue .filterinput {
	background-color: rgba(35, 119, 227, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: #FFFFFF;
	font-weight: normal;
}

.skin-blue .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jq-ac-dom {
	border: 1px solid rgba(35, 119, 227, 0.5);
	border-style: solid solid none solid;
}

.skin-blue .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu {
	border: 1px solid rgba(35, 119, 227, 0.5);
}

.skin-blue.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box {
	background: #eee;
}

.skin-blue .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #FFF;
}

.skin-blue.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #333;
}

.skin-blue .model-windows .model-content .count-data-box>.title {
	background: rgba(35, 119, 227, 0.5);
}

.skin-blue .model-windows .model-content .count-data-box>div {
	border: 1px solid rgba(35, 119, 227, 0.5);
}

.skin-blue .model-windows .model-content .count-data-box>div .one-line>div.key-name {
	color: #2377E3;
}

.skin-blue .model-windows .model-content .count-data-box>div>li>div.key-name {
	color: #2377E3;
}

.skin-blue .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li {
	/*background: #543513;*/
	background: rgba(84, 53, 19, 0.5);
}

.skin-blue .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li.layui-this {
	background: rgba(35, 119, 227, 0.5);
}

.skin-blue .model-windows .model-content .model-tabs .layui-tab .layui-tab-content {
	border: 1px solid rgba(35, 119, 227, 0.5);
}

.skin-blue .model-windows .model-compare .compare-li.red>.src-text,
.skin-blue .model-windows .model-compare .compare-li.red>.new-text {
	color: #2377E3;
}

.skin-blue .model-windows .foot-button-group .one-line>.title {
	background: rgba(35, 119, 227, 0.8);
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.skin-green,
.skin-green a {
	color: #FFF;
}

.skin-green.no-transparent {
	background: #FFFFFF;
	color: #333;
}

.skin-green.no-transparent a {
	color: #333;
}

.model-transparent .layui-layer {
	background-color: #FFFFFF;
	color: #666;
}

.skin-green.model-transparent .layui-layer-title {
	background-color: #19AA8D;
	border-bottom: 0;
	color: #FFFFFF;
}

.skin-green.model-transparent .layui-layer-btn a {
	background-color: #FFFFFF;
	border: 1px solid #19AA8D;
	color: #19AA8D;
	padding: 0rem 2rem 0rem 2rem;
}

.skin-green.model-transparent .layui-layer-btn .layui-layer-btn0 {
	background-color: #19AA8D;
	border-color: #19AA8D;
	color: #FFF;
}

.skin-green .model-windows .model-header .page-back>.p-font {
	color: #FFFFFF;
}

.skin-green .model-windows .model-header .page-back>.p-button {
	background: #19AA8D;
	color: #FFFFFF;
}

.skin-green .model-windows .model-header .page-back>.p-b {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #19AA8D;
	color: #19AA8D;
}

.skin-green .model-windows .model-header .page-title .t-logo .iconfont {
	color: #19AA8D;
}

.skin-green .model-windows .model-header .page-title .t-box .t-info {
	background: #19AA8D;
	color: #FFFFFF;
	line-height: 1.1;
}

.skin-green .model-windows .model-header .page-title .t-datetime {
	color: #FFFFFF;
}

.skin-green .model-windows .model-header .page-title .t-datetime .date {
	color: #19AA8D;
}

.skin-green .model-windows .model-header .page-config .c-button {
	background: #19AA8D;
	color: #FFFFFF;
}

.skin-green .model-windows .model-content .model-search-box .search-button-box {
	background: rgba(25, 170, 141, 0.8);
	color: #FFF;
}

.skin-green .model-windows .model-content .model-search-box .search-button-box:hover {
	background: rgba(25, 170, 141, 1);
}

.skin-green .model-windows .model-content .model-search-box .model-name font {
	color: #FFFFFF;
}

.skin-green.no-transparent .model-windows .model-content .model-search-box .model-name font {
	color: #333;
}

.skin-green .model-windows .model-content {
	border-top: 1px solid rgba(25, 170, 141, 0.5);
}

.skin-green .model-attribute-box .one-line>a {
	background: rgba(25, 170, 141, 0.5);
	color: #FFFFFF!important;
}

.skin-green .model-attribute-box .one-line>ul {
	border: 1px solid rgba(25, 170, 141, 0.5);
}

.skin-green .model-attribute-box .one-line .item a {
	color: #FFF;
}

.skin-green .model-attribute-box .one-line a.action {
	background: rgba(25, 170, 141, 0.4);
}

.skin-green .model-attribute-box .one-line a>.iconfont:first-child {
	color: #FFF;
}

.skin-green .model-attribute-box .one-line>a>.iconfont:first-child {
	color: #fff;
}

.skin-green .model-windows .model-content {
	border-top: 1px solid rgba(221, 221, 221, 0.5);
}

.skin-green .model-windows .model-content .model-search-box .search-button-box .search-input-box>.title {
	background: none repeat scroll 0 0 rgba(25, 170, 141, 0.5);
}

.skin-green .filterinput {
	background-color: rgba(25, 170, 141, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: #FFFFFF;
	font-weight: normal;
}

.skin-green .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jq-ac-dom {
	border: 1px solid rgba(25, 170, 141, 0.5);
	border-style: solid solid none solid;
}

.skin-green .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu {
	border: 1px solid rgba(25, 170, 141, 0.5);
}

.skin-green.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box {
	background: #eee;
}

.skin-green .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #FFF;
}

.skin-green.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #333;
}

.skin-green .model-windows .model-content .count-data-box>.title {
	background: rgba(25, 170, 141, 0.5);
}

.skin-green .model-windows .model-content .count-data-box>div {
	border: 1px solid rgba(25, 170, 141, 0.5);
}

.skin-green .model-windows .model-content .count-data-box>div .one-line>div.key-name {
	color: #19AA8D;
}

.skin-green .model-windows .model-content .count-data-box>div>li>div.key-name {
	color: #19AA8D;
}

.skin-green .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li {
	/*background: #543513;*/
	background: rgba(84, 53, 19, 0.5);
}

.skin-green .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li.layui-this {
	background: rgba(25, 170, 141, 0.5);
}

.skin-green .model-windows .model-content .model-tabs .layui-tab .layui-tab-content {
	border: 1px solid rgba(25, 170, 141, 0.5);
}

.skin-green .model-windows .model-compare .compare-li.red>.src-text,
.skin-green .model-windows .model-compare .compare-li.red>.new-text {
	color: #19AA8D;
}

.skin-green .model-windows .foot-button-group .one-line>.title {
	background: rgba(25, 170, 141, 0.8);
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.skin-red,
.skin-red a {
	color: #FFF;
}

.skin-red.no-transparent {
	background: #FFFFFF;
	color: #333;
}

.skin-red.no-transparent a {
	color: #333;
}

.model-transparent .layui-layer {
	background-color: #FFFFFF;
	color: #666;
}

.skin-red.model-transparent .layui-layer-title {
	background-color: #E53935;
	border-bottom: 0;
	color: #FFFFFF;
}

.skin-red.model-transparent .layui-layer-btn a {
	background-color: #FFFFFF;
	border: 1px solid #E53935;
	color: #E53935;
	padding: 0rem 2rem 0rem 2rem;
}

.skin-red.model-transparent .layui-layer-btn .layui-layer-btn0 {
	background-color: #E53935;
	border-color: #E53935;
	color: #FFF;
}

.skin-red .model-windows .model-header .page-back>.p-font {
	color: #FFFFFF;
}

.skin-red .model-windows .model-header .page-back>.p-button {
	background: #E53935;
	color: #FFFFFF;
}

.skin-red .model-windows .model-header .page-back>.p-b {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #E53935;
	color: #E53935;
}

.skin-red .model-windows .model-header .page-title .t-logo .iconfont {
	color: #E53935;
}

.skin-red .model-windows .model-header .page-title .t-box .t-info {
	background: #E53935;
	color: #FFFFFF;
	line-height: 1.1;
}

.skin-red .model-windows .model-header .page-title .t-datetime {
	color: #FFFFFF;
}

.skin-red .model-windows .model-header .page-title .t-datetime .date {
	color: #E53935;
}

.skin-red .model-windows .model-header .page-config .c-button {
	background: #E53935;
	color: #FFFFFF;
}

.skin-red .model-windows .model-content .model-search-box .search-button-box {
	background: rgba(229, 57, 53, 0.8);
	color: #FFF;
}

.skin-red .model-windows .model-content .model-search-box .search-button-box:hover {
	background: rgba(229, 57, 53, 1);
}

.skin-red .model-windows .model-content .model-search-box .model-name font {
	color: #FFFFFF;
}

.skin-red.no-transparent .model-windows .model-content .model-search-box .model-name font {
	color: #333;
}

.skin-red .model-windows .model-content {
	border-top: 1px solid rgba(229, 57, 53, 0.5);
}

.skin-red .model-attribute-box .one-line>a {
	background: rgba(229, 57, 53, 0.5);
	color: #FFFFFF!important;
}

.skin-red .model-attribute-box .one-line>ul {
	border: 1px solid rgba(229, 57, 53, 0.5);
}

.skin-red .model-attribute-box .one-line .item a {
	color: #FFF;
}

.skin-red .model-attribute-box .one-line a.action {
	background: rgba(229, 57, 53, 0.4);
}

.skin-red .model-attribute-box .one-line a>.iconfont:first-child {
	color: #FFF;
}

.skin-red .model-attribute-box .one-line>a>.iconfont:first-child {
	color: #fff;
}

.skin-red .model-windows .model-content {
	border-top: 1px solid rgba(221, 221, 221, 0.5);
}

.skin-red .model-windows .model-content .model-search-box .search-button-box .search-input-box>.title {
	background: none repeat scroll 0 0 rgba(229, 57, 53, 0.5);
}

.skin-red .filterinput {
	background-color: rgba(229, 57, 53, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
	color: #FFFFFF;
	font-weight: normal;
}

.skin-red .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jq-ac-dom {
	border: 1px solid rgba(229, 57, 53, 0.5);
	border-style: solid solid none solid;
}

.skin-red .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu {
	border: 1px solid rgba(229, 57, 53, 0.5);
}

.skin-red.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box {
	background: #eee;
}

.skin-red .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #FFF;
}

.skin-red.no-transparent .model-windows .model-content .model-search-box .search-button-box .search-input-box .search-tree .jquery-accordion-menu ul li a {
	color: #333;
}

.skin-red .model-windows .model-content .count-data-box>.title {
	background: rgba(229, 57, 53, 0.5);
}

.skin-red .model-windows .model-content .count-data-box>div {
	border: 1px solid rgba(229, 57, 53, 0.5);
}

.skin-red .model-windows .model-content .count-data-box>div .one-line>div.key-name {
	color: #E53935;
}

.skin-red .model-windows .model-content .count-data-box>div>li>div.key-name {
	color: #E53935;
}

.skin-red .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li {
	/*background: #543513;*/
	background: rgba(84, 53, 19, 0.5);
}

.skin-red .model-windows .model-content .model-tabs .layui-tab .layui-tab-title>li.layui-this {
	background: rgba(229, 57, 53, 0.5);
}

.skin-red .model-windows .model-content .model-tabs .layui-tab .layui-tab-content {
	border: 1px solid rgba(229, 57, 53, 0.5);
}

.skin-red .model-windows .model-compare .compare-li.red>.src-text,
.skin-red .model-windows .model-compare .compare-li.red>.new-text {
	color: #E53935;
}

.skin-red .model-windows .foot-button-group .one-line>.title {
	background: rgba(229, 57, 53, 0.8);
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, 0.8);
}